<a href="https://colab.research.google.com/github/LouanMartinez/Dataframe-Exercise/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:


import pandas as pd



# Step 1: Create DataFrame


data = {

    "OrderID": range(1001, 1021),

    "Product": [

        "Laptop", "Mouse", "Keyboard", "Monitor", "Laptop",

        "Headphones", "Mouse", "Chair", "Desk", "Laptop",

        "Printer", "Keyboard", "Monitor", "Mouse", "Laptop",

        "Headphones", "Desk", "Monitor", "Printer", "Chair"

    ],

    "Category": [

        "Electronics", "Accessories", "Accessories", "Electronics", "Electronics",

        "Accessories", "Accessories", "Furniture", "Furniture", "Electronics",

        "Electronics", "Accessories", "Electronics", "Accessories", "Electronics",

        "Accessories", "Furniture", "Electronics", "Electronics", "Furniture"

    ],

    "Quantity": [2, 5, 3, 4, 1, 6, 10, 2, 1, 3, 2, 4, 2, 7, 5, 3, 2, 4, 1, 6],

    "Price": [800, 20, 50, 200, 850, 40, 25, 150, 300, 900, 120, 55, 250, 20, 750, 35, 280, 220, 110, 180],

    "Customer": [

        "Alice", "Bob", "Charlie", "Diana", "Ethan",

        "Fiona", "George", "Hannah", "Ian", "Jane",

        "Kyle", "Laura", "Mike", "Nina", "Oscar",

        "Paul", "Queen", "Robert", "Sarah", "Tom"

    ],

    "Region": [

        "North", "South", "East", "West", "North",

        "South", "East", "West", "North", "South",

        "East", "West", "North", "South", "East",

        "West", "North", "South", "East", "West"

    ]

}

AttributeError: 'DataFrame' object has no attribute 'column'

In [ ]:
# Create DataFrame

df = pd.DataFrame(data)

In [ ]:

# Compute Total column

df["Total"] = df["Quantity"] * df["Price"]

In [ ]:
# Step 2: Show first 5 rows

print(df.head(5))

   OrderID   Product     Category  Quantity  Price Customer Region  Total
0     1001    Laptop  Electronics         2    800    Alice  North   1600
1     1002     Mouse  Accessories         5     20      Bob  South    100
2     1003  Keyboard  Accessories         3     50  Charlie   East    150
3     1004   Monitor  Electronics         4    200    Diana   West    800
4     1005    Laptop  Electronics         1    850    Ethan  North    850

In [ ]:

# Step 3: Print DataFrame shape

print("Shape:", df.shape)

Shape: (20, 8)

In [ ]:
# Step 4: Show column names

print("Columns:", df.columns)

Columns: Index(['OrderID', 'Product', 'Category', 'Quantity', 'Price', 'Customer',
       'Region', 'Total'],
      dtype='object')

In [ ]:
import numpy as np

# Step 1: Add Discount column (10% if Quantity >= 5 else 0)
df["Discount"] = np.where(df["Quantity"] >= 5, df["Total"] * 0.10, 0.0)

# Step 2: Add FinalTotal column (Total - discount)
df["FinalTotal"] = df["Total"] - df["Discount"]

# Step 3: Show selected columns
print(df[["OrderID", "Product", "Total", "Discount", "FinalTotal"]].head(10))

   OrderID     Product  Total  Discount  FinalTotal
0     1001      Laptop   1600       0.0      1600.0
1     1002       Mouse    100      10.0        90.0
2     1003    Keyboard    150       0.0       150.0
3     1004     Monitor    800       0.0       800.0
4     1005      Laptop    850       0.0       850.0
5     1006  Headphones    240      24.0       216.0
6     1007       Mouse    250      25.0       225.0
7     1008       Chair    300       0.0       300.0
8     1009        Desk    300       0.0       300.0
9     1010      Laptop   2700       0.0      2700.0

In [ ]:
# Step 1: Create new record

new_row = {

    "OrderID": 1021,

    "Product": "Tablet",

    "Category": "Electronics",

    "Quantity": 2,

    "Price": 450,

    "Customer": "Kanye",

    "Region": "East"

}



# Step 2: Append to DataFrame using pd.concat

new_df = pd.DataFrame([new_row])

df = pd.concat([df, new_df], ignore_index=True)



# Step 3: Recalculate Total

df["Total"] = df["Quantity"] * df["Price"]



# Step 4: Show last 3 rows

print(df.tail(3))



#Add a new sales record:
#OrderID=1021, Product="Tablet", Category="Electronics", Quantity=2, Price=450, Customer="Victor", Region="East".

    OrderID  Product     Category  Quantity  Price Customer Region  Total  \
18     1019  Printer  Electronics         1    110    Sarah   East    110
19     1020    Chair    Furniture         6    180      Tom   West   1080
20     1021   Tablet  Electronics         2    450    Kanye   East    900

    Discount  FinalTotal
18       0.0       110.0
19     108.0       972.0
20       NaN         NaN