<a href="https://colab.research.google.com/github/LouanMartinez/Dataframe-Exercise/blob/main/3_6technical.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:

import pandas as pd

df = pd.DataFrame({
    'Product': ['Mouse', 'Keyboard', 'Mouse', 'Monitor', 'Mouse'],
    'Quantity': [2, 1, 3, 1, 5],
    'Price': [25, 50, 20, 200, 15],
    'Total': [50, 50, 60, 200, 75]
})

print("Original DataFrame:")
print(df)
print("\n" + "="*40 + "\n")

# Step 1: Update price of Mouse products

df.loc[df["Product"] == "Mouse", "Price"] = 30

# Step 2: Recalculate Total for affected rows
df["Total"] = df["Quantity"] * df["Price"]

# Step 3: Show only Mouse rows

print("Updated Mouse rows:")
print(df[df["Product"] == "Mouse"])

Original DataFrame:
    Product  Quantity  Price  Total
0     Mouse         2     25     50
1  Keyboard         1     50     50
2     Mouse         3     20     60
3   Monitor         1    200    200
4     Mouse         5     15     75

========================================

Updated Mouse rows:
  Product  Quantity  Price  Total
0   Mouse         2     30     60
2   Mouse         3     30     90
4   Mouse         5     30    150

In [5]:

print("Available columns:")
print(df.columns.tolist())
print("\n" + "="*40 + "\n")

# Step 1: Drop Discount column
if 'Discount' in df.columns:
    df = df.drop(columns=['Discount'])
    print("Dropped 'Discount' column")
else:
    print("'Discount' column not found")

# Step 2: Drop FinalTotal column
if 'FinalTotal' in df.columns:
    df = df.drop(columns=['FinalTotal'])
    print("Dropped 'FinalTotal' column")
else:
    print("'FinalTotal' column not found")

print("\n" + "="*40 + "\n")

# Step 3: Show updated DataFrame
print("Updated DataFrame:")
print(df.head())

Available columns:
['Product', 'Quantity', 'Price', 'Total']

========================================

'Discount' column not found
'FinalTotal' column not found

========================================

Updated DataFrame:
    Product  Quantity  Price  Total
0     Mouse         2     30     60
1  Keyboard         1     50     50
2     Mouse         3     30     90
3   Monitor         1    200    200
4     Mouse         5     30    150

In [8]:

print("Available columns:")
print(df.columns.tolist())
print("\nDataFrame shape before dropping rows:", df.shape)
print("\nFirst few rows:")
print(df.head())
print("\n" + "="*50 + "\n")

# Step 1: Drop row with OrderID = 1010
if 'OrderID' in df.columns:
    rows_to_drop = df[df["OrderID"] == 1010].index
    if len(rows_to_drop) > 0:
        df = df.drop(rows_to_drop, axis=0)
        print(f"Dropped {len(rows_to_drop)} row(s) with OrderID = 1010")
    else:
        print("No rows found with OrderID = 1010")
else:
    print("'OrderID' column not found in DataFrame")

# Step 2: Drop the first row by index
if len(df) > 0 and 0 in df.index:
    df = df.drop(index=0)
    print("Dropped row at index 0")
else:
    print("No row at index 0 to drop")

print("\n" + "="*50 + "\n")

# Step 3: Print new shape
print("New shape:", df.shape)

Available columns:
['Product', 'Quantity', 'Price', 'Total']

DataFrame shape before dropping rows: (4, 4)

First few rows:
    Product  Quantity  Price  Total
1  Keyboard         1     50     50
2     Mouse         3     30     90
3   Monitor         1    200    200
4     Mouse         5     30    150

==================================================

'OrderID' column not found in DataFrame
No row at index 0 to drop

==================================================

New shape: (4, 4)