<a href="https://colab.research.google.com/github/LouanMartinez/Dataframe-Exercise/blob/main/7_10technical.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd


df = pd.DataFrame({
    'Category': ['Electronics', 'Clothing', 'Electronics', 'Books', 'Electronics', 'Clothing'],
    'Quantity': [2, 5, 4, 1, 3, 2],
    'Price': [300, 50, 600, 25, 800, 40],
    'Region': ['North', 'South', 'North', 'East', 'West', 'North']
})

print("Sample DataFrame:")
print(df)
print("\n" + "="*50 + "\n")

# Step 1: Electronics with Quantity >= 3
result1 = df[(df["Category"] == "Electronics") & (df["Quantity"] >= 3)]
print("Electronics with Quantity >= 3:")
print(result1)

print("\n" + "="*50 + "\n")

# Step 2: Products with Price > 500
result2 = df[df["Price"] > 500]
print("Products with Price > 500:")
print(result2)

print("\n" + "="*50 + "\n")

# Step 3: Count orders from North region
count_north = df[df["Region"] == "North"].shape[0]
print("North orders:", count_north)

Sample DataFrame:
      Category  Quantity  Price Region
0  Electronics         2    300  North
1     Clothing         5     50  South
2  Electronics         4    600  North
3        Books         1     25   East
4  Electronics         3    800   West
5     Clothing         2     40  North

==================================================

Electronics with Quantity >= 3:
      Category  Quantity  Price Region
2  Electronics         4    600  North
4  Electronics         3    800   West

==================================================

Products with Price > 500:
      Category  Quantity  Price Region
2  Electronics         4    600  North
4  Electronics         3    800   West

==================================================

North orders: 3

In [3]:
import pandas as pd

df = pd.DataFrame({
    'Region': ['West', 'East', 'West', 'North', 'South', 'West', 'East'],
    'Customer': ['Alice', 'Bob', 'Alice', 'Charlie', 'Alice', 'Bob', 'Alice'],
    'Product': ['Laptop', 'Mouse', 'Printer', 'Keyboard', 'Laptop', 'Printer', 'Monitor'],
    'Sales': [1000, 25, 300, 75, 1200, 280, 400]
})

print("Sample DataFrame:")
print(df)
print("\n" + "="*50 + "\n")

# Step 1: Sales in West region
west_sales = df[df["Region"] == "West"]
print("Sales in West region:")
print(west_sales)

print("\n" + "="*50 + "\n")

# Step 2: Sales by Alice
alice_sales = df[df["Customer"] == "Alice"]
print("Sales by Alice:")
print(alice_sales)

print("\n" + "="*50 + "\n")

# Step 3: Sales of Laptop or Printer
subset_sales = df[df["Product"].isin(["Laptop", "Printer"])]
print("Sales of Laptop or Printer:")
print(subset_sales)

Sample DataFrame:
  Region Customer   Product  Sales
0   West    Alice    Laptop   1000
1   East      Bob     Mouse     25
2   West    Alice   Printer    300
3  North  Charlie  Keyboard     75
4  South    Alice    Laptop   1200
5   West      Bob   Printer    280
6   East    Alice   Monitor    400

==================================================

Sales in West region:
  Region Customer  Product  Sales
0   West    Alice   Laptop   1000
2   West    Alice  Printer    300
5   West      Bob  Printer    280

==================================================

Sales by Alice:
  Region Customer  Product  Sales
0   West    Alice   Laptop   1000
2   West    Alice  Printer    300
4  South    Alice   Laptop   1200
6   East    Alice  Monitor    400

==================================================

Sales of Laptop or Printer:
  Region Customer  Product  Sales
0   West    Alice   Laptop   1000
2   West    Alice  Printer    300
4  South    Alice   Laptop   1200
5   West      Bob  Printer    280

In [4]:
import pandas as pd


df = pd.DataFrame({
    'Category': ['Furniture', 'Electronics', 'Furniture', 'Clothing', 'Furniture', 'Electronics'],
    'Product': ['Chair', 'Laptop', 'Table', 'Shirt', 'Sofa', 'Phone'],
    'Quantity': [2, 1, 1, 3, 1, 2],
    'Price': [150.0, 800.0, 300.0, 25.0, 600.0, 500.0],
    'Total': [300.0, 800.0, 300.0, 75.0, 600.0, 1000.0]
})

print("Original DataFrame:")
print(df)
print("\n" + "="*50 + "\n")

# Step 1: Increase Price of Furniture by 10%
df.loc[df["Category"] == "Furniture", "Price"] *= 1.1

# Step 2: Recalculate Total
df["Total"] = df["Quantity"] * df["Price"]

# Step 3: Show only Furniture rows
print("Updated Furniture rows (10% price increase):")
print(df[df["Category"] == "Furniture"])

Original DataFrame:
      Category Product  Quantity  Price   Total
0    Furniture   Chair         2  150.0   300.0
1  Electronics  Laptop         1  800.0   800.0
2    Furniture   Table         1  300.0   300.0
3     Clothing   Shirt         3   25.0    75.0
4    Furniture    Sofa         1  600.0   600.0
5  Electronics   Phone         2  500.0  1000.0

==================================================

Updated Furniture rows (10% price increase):
    Category Product  Quantity  Price  Total
0  Furniture   Chair         2  165.0  330.0
2  Furniture   Table         1  330.0  330.0
4  Furniture    Sofa         1  660.0  660.0

In [5]:
import pandas as pd

df = pd.DataFrame({
    'Region': ['West', 'East', 'West', 'North', 'South', 'West', 'East', 'North'],
    'Customer': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Alice', 'Charlie', 'Bob'],
    'Product': ['Laptop', 'Mouse', 'Printer', 'Keyboard', 'Monitor', 'Phone', 'Tablet', 'Speaker'],
    'Quantity': [1, 2, 1, 3, 1, 1, 2, 1],
    'Price': [1000, 25, 300, 75, 400, 500, 350, 150],
    'Total': [1000, 50, 300, 225, 400, 500, 700, 150]
})

print("Original DataFrame:")
print(df)
print("\n" + "="*50 + "\n")

# Step 1: Sort by Total descending
sorted_df = df.sort_values(by="Total", ascending=False)
print("Sorted by Total (descending):")
print(sorted_df.head())

print("\n" + "="*50 + "\n")

# Step 2: Show top 5 sales
print("Top 5 sales:")
print(sorted_df.head())

print("\n" + "="*50 + "\n")

# Step 3: Multi-level sort (Region then Customer)
multi_sort = df.sort_values(by=["Region", "Customer"])
print("Multi-level sort (Region then Customer):")
print(multi_sort.head())

Original DataFrame:
  Region Customer   Product  Quantity  Price  Total
0   West    Alice    Laptop         1   1000   1000
1   East      Bob     Mouse         2     25     50
2   West  Charlie   Printer         1    300    300
3  North    Alice  Keyboard         3     75    225
4  South      Bob   Monitor         1    400    400
5   West    Alice     Phone         1    500    500
6   East  Charlie    Tablet         2    350    700
7  North      Bob   Speaker         1    150    150

==================================================

Sorted by Total (descending):
  Region Customer  Product  Quantity  Price  Total
0   West    Alice   Laptop         1   1000   1000
6   East  Charlie   Tablet         2    350    700
5   West    Alice    Phone         1    500    500
4  South      Bob  Monitor         1    400    400
2   West  Charlie  Printer         1    300    300

==================================================

Top 5 sales:
  Region Customer  Product  Quantity  Price  Total
0   West    Alice   Laptop         1   1000   1000
6   East  Charlie   Tablet         2    350    700
5   West    Alice    Phone         1    500    500
4  South      Bob  Monitor         1    400    400
2   West  Charlie  Printer         1    300    300

==================================================

Multi-level sort (Region then Customer):
  Region Customer   Product  Quantity  Price  Total
1   East      Bob     Mouse         2     25     50
6   East  Charlie    Tablet         2    350    700
3  North    Alice  Keyboard         3     75    225
7  North      Bob   Speaker         1    150    150
4  South      Bob   Monitor         1    400    400